/* home.css - Styles specific to the Home page */

.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to bottom, #FFD700, #000);
    color: #000;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    background-color: #FFD700;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #FFC107;
}
